<form [formGroup]="linksForm" (ngSubmit)="addLink()">
    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" formControlName="link" id="link" placeholder="www.linkfolio.io">
    </div>
    <div class="mb-3 text-end">
        <button class="lf-btn lf-btn-md lf-btn-bordered" type="submit" [disabled]="!linksForm.valid">Add</button>
    </div>
</form>
<hr>
<!--<img src="https://www.google.com/favicon.ico" alt="">
<img src="https://www.youtube.com/favicon.ico" alt="">-->

<div class="d-flex" *ngFor="let link of links">
    <img [src]="link.domain" alt="" style="width: 32px; height: 32px; border-radius: 5px;">
    <a target="_blank" href="{{link.link}}">
        <p class="ms-3" style="overflow: hidden; text-overflow: ellipsis; width: 40ch; line-height: 32px;">{{link.link}}</p>
    </a>
</div>
