* {
  /*--primary-bg: #0E438D;
  --primary-color: #ffffff;*/
  --primary-bg-hover: #0b3366;

  --secondary-bg: #cccccc;
  --secondary-color: #151515;
  --secondary-bg-hover: #bbbbbb;

  --bg-auth-transparent: rgba(21, 21, 21, .5);
  --bg-auth: #151515;


  --btn-border: #282828;
  --btn-color: #7e7e7e;
}




.light-theme {
  --navbar-bg: #ffffff;

  --body-bg: #ffffff;

  --main-color: #151515;
  --primary-text: #1B1B1B;
  --secondary-color: #333333;

  --scroll-bg: #f7f8f9;
  --scroll-bar: #e7e8e9;
  --scroll-bar-hover: #d7d8d9;
}

.dark-theme {
  --navbar-bg: #282828;

  --input-bg: #282828;
  --input-border: #383838;
  --input-border-auth: #232323;
  --input-placeholder: #7e7e7e;
  --input-color: #ffffff;

  --body-bg: #181818;

  --main-color: #fff;
  --primary-text: #7e7e7e;
  --secondary-color: #ccc;

  --scroll-bg: #282828;
  --scroll-bar: #383838;
  --scroll-bar-hover: #484848
}
