.form-control {
  border-radius: var(--radius-5) !important;
  background: var(--input-bg) !important;
  border-color: var(--primary-border) !important;
  box-shadow: none !important;
  outline: none !important;
  color: var(--primary-color) !important;
}
.form-control:focus,
.form-control:hover {
  border-color: var(--primary-border-active) !important;
}

.form-control::placeholder {
  color: var(--input-placeholder) !important;
}
