.auth-container {
  color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  background-image: url(bg-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .auth-content {
    width: 80%;
    height: 100vh;
    background: var(--primary-bg);
    float: right;
    position: relative;
    overflow-y: auto;
    .center-logo {
      width: 120px;
      animation: logo-animate 3s infinite;
    }

    .form-row {
      width: 100%;
      padding: 10px;

      .form-container {
        max-width: 350px;
        padding: 10px;
        margin: 12px auto 0 auto;
      }
    }
  }
}

.text-logo {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 12px;
  color: var(--primary-color);
}

@keyframes logo-animate {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}


@media screen and (max-width: 768px) {
  .auth-content {
    width: 100% !important;
  }
  .center-logo {
    max-width: 60px !important;
  }
  .text-logo {
    font-size: 24px;
  }
}


:host ::ng-deep
    .p-inputswitch .p-inputswitch-slider {
      height: 20px;
      width: 40px;
      box-shadow: none;
      left: 0;
      right: 0;
      border-radius: var(--radius-5);
      padding: 0 !important;
      margin-top: 12px;
      margin-left: auto;
      &::before {
        height: 20px;
        width: 20px;
        background-color: #0E438D;
        border-radius: var(--radius-5);
        left: 0px;
      }
    }
:host ::ng-deep
    .p-inputswitch.p-inputswitch-checked
    .p-inputswitch-slider,
:host ::ng-deep
    .p-inputswitch.p-inputswitch-checked:hover
    .p-inputswitch-slider
    {
      background-color: #e7e8e9;
      &::before {
        background-color: #ffffaa;
      }
    }
