<div class="header-container">
    <app-user-header></app-user-header>
</div>
<div class="public-body">
    <div class="container-lg">
        <div class="profile-container d-flex">
            <div class="profile-sidebar">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#tab1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        General Details
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#tab2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        My Experience
                    </button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#tab3" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        My Studies
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab4" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        My Skills
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab5" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        My Certifications
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab6" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        My Languages
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab7" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        Previous Clients Testimonials
                    </button>
                    <button class="nav-link active" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab8" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        My Social Links
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#tab9" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        My Hobbies
                    </button>
                </div>
            </div>
            <div class="tab-content p-3" style="width: 100%;" id="v-pills-tabContent">
                <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <app-main-info></app-main-info>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <app-experiences></app-experiences>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <app-skills></app-skills>
                </div>
                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-studies></app-studies>
                </div>
                <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-certifications></app-certifications>
                </div>
                <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-languages></app-languages>
                </div>
                <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-testimonials></app-testimonials>
                </div>
                <div class="tab-pane fade show active" id="tab8" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-social-links></app-social-links>
                </div>
                <div class="tab-pane fade" id="tab9" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-hobbies></app-hobbies>
                </div>
            </div>
            <!--<div class="profile-content-box">
                <router-outlet></router-outlet>
            </div>-->
        </div>
    </div>
</div>
