.border-button {
  padding: 6px 24px;
  &:hover {
    background-color: var(--btn-border) !important;
  }
}


.back-button {
  padding: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 10px 12px 10px 0;
  background-color: transparent;
  border: 1px solid var(--btn-border);
  color: var(--btn-color);
  &:hover {
    background-color: var(--btn-border) !important;
  }
}

.auth-link {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 13px;
  &:hover {
    color: var(--main-color);
  }
}

.success-step img {
  margin-bottom: 36px;
}

.auth-title {
  line-height: 3;
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}
