.header-container {
    background-color: var(--navbar-bg);
    color: var(--primary-color);
}
.public-body {
    background-color: var(--body-bg);
    color: var(--primary-color);
    height: calc(100vh - 50px);
}
