.navbar-box,
.footer-box {
  background-color: var(--navbar-bg);
  color: var(--main-color);
}
.navbar-box {
  height: 50px;
}
.footer-box {
  min-height: 50px;
  padding: 24px;
}

.body-container {
  background-color: var(--body-bg);
  color: var(--primary-text);
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}


.body-container::-webkit-scrollbar {
  width: 12px;
  background: var(--scroll-bg);
  border-radius: 0px;
}

.body-container::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
  border-radius: 50px;
  &:hover {
    background: var(--scroll-bar-hover);
  }
}
