<section class="container pt-5 hero-section">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="main-title">Hi, I'm Aymen SALHI</h1>
            <h5>Software Engineer - FullStack Web/Mobile Developer</h5>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                        <p>
                            A skilled Software Engineer with a passion for crafting innovative web and mobile solutions that make a real impact.
                        </p>
                        <img src="assets/svg/001.svg" alt="">
                    </div>
                    <div class="swiper-slide text-center">
                        <p>
                            From concept to deployment, I offer end-to-end development services, ensuring a smooth and efficient process to transform your ideas into intuitive and scalable digital products.
                        </p>
                        <img src="assets/svg/002.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p>
                            I specialize in building scalable and robust software solutions that meet the unique needs of businesses and individuals.
                        </p>
                        <img src="assets/svg/003.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p>
                            a Software Engineer who loves tackling complex challenges and finding elegant solutions through meticulous coding and problem-solving.
                        </p>
                        <img src="assets/svg/004.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p>
                            a Software Engineer who believes in the power of technology to transform businesses. I strive to deliver exceptional results by harnessing the latest tools and frameworks.
                        </p>
                        <img src="assets/svg/005.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <p>
                            As a Software Engineer, I take pride in my ability to understand client needs and translate them into functional applications. I'm here to turn your vision into reality.
                        </p>
                        <img src="assets/svg/006.svg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination" style="background: red;"></div>
            </div>
        </div>
    </div>
</section>