<div class="head-section">

</div>
<div class="search-box container" style="margin-top: -50px;">
  <div class="card">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut autem, repudiandae temporibus similique odio laboriosam doloribus! Voluptatibus, impedit? Delectus nihil laborum alias! Recusandae in eum harum similique quibusdam excepturi quasi?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quibusdam quis voluptate rem sed quisquam iste aliquam laudantium voluptatum voluptas velit, provident consequuntur repudiandae beatae temporibus ullam at. Perspiciatis, deleniti!
  </div>
</div>
