<section class="container pt-5 hero-section">
    <div class="row">
        <div class="col-6">
            <h1>Hi, I'm Aymen SALHI</h1>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        A skilled Software Engineer with a passion for crafting innovative web and mobile solutions that make a real impact.
                    </div>
                    <div class="swiper-slide">
                        From concept to deployment, I offer end-to-end development services, ensuring a smooth and efficient process to transform your ideas into intuitive and scalable digital products.
                    </div>
                    <div class="swiper-slide">
                        I specialize in building scalable and robust software solutions that meet the unique needs of businesses and individuals.
                    </div>
                    <div class="swiper-slide">
                        a Software Engineer who loves tackling complex challenges and finding elegant solutions through meticulous coding and problem-solving.
                    </div>
                    <div class="swiper-slide">
                        a Software Engineer who believes in the power of technology to transform businesses. I strive to deliver exceptional results by harnessing the latest tools and frameworks.
                    </div>
                    <div class="swiper-slide">
                        As a Software Engineer, I take pride in my ability to understand client needs and translate them into functional applications. I'm here to turn your vision into reality.
                    </div>
                </div>
                <div class="swiper-pagination" style="background: red;"></div>
            </div>
        </div>
    </div>
</section>