<nav class="navbar fixed-top navbar-expand-lg main-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><strong>DEV</strong> Stackers</a>
    <button class="btn text-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="font-size: 1.3rem;"></i> 
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/projects">Our Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/technologies">Technologies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/youtube-videos">YT Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/our-apps">Our Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/blog">Blog</a>
        </li>
      </ul>
      
      <button class="btn btn-outline-success me-3" type="submit">Contact US</button>
      <button class="btn btn-success" type="submit">Hire Us</button>
    </div>
  </div>
</nav>