.dark {
    --bg-body: #282828;
    --text-main: #ffffff;
}
.light {
    --bg-body: #ffffff;
    --text-main: #151515;
}


.content-box {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg-body);
}
