/* You can add global styles to this file, and also import other style files */
@import url('globals/variables.scss');
/*@import url('globals/colors.scss');*/
@import url('globals/utils.scss');
@import url('globals/buttons.scss');
@import url('globals/forms.scss');

@import url('globals/color-variables.scss');

@import url(assets/css-animation/magic.css);

@import 'swiper/css/bundle';

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .1s !important;
  color: #fff;
}

body {
  background: #040e21 !important;
}

p, span, div {
  font-weight: normal !important;
}
